body {
	background-color: black;
	color: lightgray;
	font-style: 'Garamond';
	font-size: large;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	body {
		color: white;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	body {
		font-size: xx-large;
	}
}

a {
	color: lightgray;
	text-decoration: none;
}

a:hover {
	color: white;
}

.quote:hover {
	color: white;
}

.title {
	font-size: xx-large;
	color: white;
}