---
title: "Face"
next: "index"
---

{% include scrollerheader.html %}

<div class="section title">
  <p>Darwin Wu</p>
</div>

<div class="section look">
  <p>Look at someone's <span class="name">face</span>.</p>
  <p>It should be dynamic and in motion.</p>
</div>

<div class="section both">
  <p>You should be able to see both eyes,</p>
  <p class="emphasis">but they should not only be looking directly at you.</p>
</div>

<div class="section focus">
  <p>Now focus your eyes on the face.</p>
  <p>Don’t focus too hard or too little.</p>
</div>

<div class="section sweet gold">
  <p>Find the sweet spot where the face is the only thing your eyes perceive</p>
  <p>and everything else in your sight is unfocused and uninteresting.</p>
</div>

<div class="section specific pink">
  <p>Then focus on specific parts of the face.</p>
  <p>See the eyes wander,</p>
  <p>ears twitch, mouth move, forehead wrinkle, cheek distort.</p>
</div>

<div class="section ponder">
  <p>Ponder the perfect placement yet imperfect proportion,</p>
  <p>the beautiful whole yet flawed detail.</p>
</div>

<div class="section love">
  <p>Look at that <span class="name">face</span></p>
  <p class="funky">—anyone’s face—</p>
  <p>and tell me you don’t love it.</p>
</div>

{% include scrollerfooter.html %}
